<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">-->
  <mat-tree-node *matTreeNodeDef="let node" [matTreeNode]="node" matTreeNodeTrigger>
    <div matTreeNodePadding>
      {{node.key}} : {{node.value}}
    </div>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" [matTreeNode]="node" matTreeNodeTrigger>
    <div matTreeNodePadding>
      > {{node.key}} : {{node.value}}
    </div>
  </mat-tree-node>
</mat-tree>

 ---------------------
<mat-tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl">
  <mat-tree-node *matTreeNodeDef="let node" [matTreeNode]="node" role="treeitem" matTreeNodeTrigger>
    <li>
      <div>{{node.key}}:  {{node.value}}</div>
    </li>
  </mat-tree-node>


  <mat-tree-node *matTreeNodeDef="let node; when: hasNestedChild" [matTreeNode]="node" role="group" matTreeNodeTrigger>
    <li matNestedTreeNode>
      <div> >> {{node.key}}</div>
      <ul [class]="nestedTreeControl.isExpanded(node) ? '' : 'tree-demo-invisible'">
      <!--<ul >-->
        <!--//*ngIf="nestedTreeControl.isExpanded(node)">-->
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>
  </mat-tree-node>
</mat-tree>


<!--<cdk-tree [dataSource]="dataSource" [treeControl]="treeControl">&ndash;&gt;-->
  <!--<ng-container *cdkTreeNodeDef="let node">-->
    <!--<cdk-tree-node >-->
      <!--&lt;!&ndash;[cdkTreeNode]="node"&ndash;&gt;-->
      <!--<div cdkTreeNodePadding> {{node.key}} : {{node.value}}</div>-->
    <!--</cdk-tree-node>-->
  <!--</ng-container>-->


  <!--<ng-container *cdkTreeNodeDef="let node; when: hasChild">-->
    <!--<cdk-tree-node cdkTreeNodeTrigger>-->
      <!--<div cdkTreeNodePadding>-->
        <!--&gt; {{node.key}} : {{node.value}}-->
      <!--</div>-->
    <!--</cdk-tree-node>-->
  <!--</ng-container>-->
<!--</cdk-tree>-->

<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--<cdk-tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl">-->
  <!--<cdk-nested-tree-node *cdkTreeNodeDef="let node">-->
    <!--<li >-->
      <!--<div>{{node.key}}:  {{node.value}}</div>-->
    <!--</li>-->
  <!--</cdk-nested-tree-node>-->


  <!--<cdk-nested-tree-node *cdkTreeNodeDef="let node; when: hasNestedChild">-->
    <!--<li cdkTreeNodeTrigger>-->
      <!--<div> >> {{node.key}}</div>-->

      <!--<ul [class]="nestedTreeControl.isExpanded(node) ? '' : 'tree-demo-invisible'">-->
        <!--<ng-container cdkTreeNodeOutlet></ng-container>-->
        <!--&lt;!&ndash;<ul *ngIf="nestedTreeControl.isExpanded(node)">&ndash;&gt;-->
      <!--</ul>-->
    <!--</li>-->
  <!--</cdk-nested-tree-node>-->
<!--</cdk-tree>-->
