<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">-->
  <mat-tree-node *matNodeDef="let node" [matTreeNode]="node">
    <div matNodePadding>
      {{node.key}} : {{node.value}}
    </div>
  </mat-tree-node>

  <mat-tree-node *matNodeDef="let node;when: hasChild" [matTreeNode]="node" matNodeTrigger >
    <div matNodePadding>
      > {{node.key}} : {{node.value}}
    </div>
  </mat-tree-node>
</mat-tree>

    ---------------------
<mat-tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl">
  <ng-container *matNodeDef="let node" >
    <mat-tree-node [matTreeNode]="node" role="treeitem" matNodeTrigger>
      <li>
        <div>{{node.key}}:  {{node.value}}</div>
      </li>
    </mat-tree-node>
  </ng-container>


  <ng-container *matNodeDef="let node; when: hasNestedChild">
    <mat-tree-node [matTreeNode]="node" role="group" matNodeTrigger>
    <li matNestedTreeNode>
      <div> >> {{node.key}}</div>
      <!--<ul [class]="nestedTreeControl.expanded(node) ? '' : 'tree-demo-invisible'">-->
      <ul *ngIf="nestedTreeControl.expanded(node)">
        <ng-container nodeOutlet></ng-container>
      </ul>
    </li>
   </mat-tree-node>
  </ng-container>
</mat-tree>


<!--<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">-->
  <!--<mat-tree-node *cdkNodeDef="let node" [cdkNode]="node">-->
    <!--&lt;!&ndash;<div matNodePadding>1231212</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<a mat-icon-button cdkNodeTrigger *ngIf="node.expandable">&ndash;&gt;-->
    <!--&lt;!&ndash;<mat-icon>{{treeControl.expanded(node) ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>&ndash;&gt;-->
    <!--&lt;!&ndash;</a>&ndash;&gt;-->

    <!--&lt;!&ndash;<a mat-icon-button>&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;*ngIf="node.expandable">&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<mat-icon>{{ treeControl.expanded(node) ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>&ndash;&gt;-->
    <!--&lt;!&ndash;</a>&ndash;&gt;-->
    <!--<div matNodeTrigger matNodePadding>-->
      <!--{{node.key}} : {{node.value}}-->
    <!--</div>-->
  <!--</mat-tree-node>-->
<!--</mat-tree>-->



<!-- -&#45;&#45;&#45;&#45;-->
<!--<mat-tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl">-->
  <!--<mat-tree-node *matNodeDef="let node" [matNode]="node" matNestedNode>-->

    <!--<li [cdkNestedNode]="node">-->
    <!--<div class="single-node">-->
    <!--<div style="width: 40px; display: inline-block">-->
    <!--<a mat-icon-button (click)="nestedTreeControl.expandDecedents(node)" *ngIf="(node.getChildren()) | async">-->
    <!--<mat-icon>{{nestedTreeControl.expanded(node) ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>-->
    <!--</a>-->
    <!--</div>-->
    <!--<mat-checkbox (click)="$event.stopPropagation()"-->
    <!--(change)="selectNode(node, $event)"-->
    <!--[checked]="selected">-->
    <!--{{node.key}}-->
    <!--<span *ngIf="node.value">-->
    <!--: {{node.value}}</span>-->
    <!--</mat-checkbox>*ngIf="nestedTreeControl.expanded(node)"-->
    <!--</div>-->
    <!--<ul *ngIf="nestedTreeControl.expanded(node)">-->
    <!--<ng-container cdkNodePlaceholder></ng-container>-->
    <!--</ul>-->
    <!--</li>-->

  <!--</mat-tree-node>-->
<!--</mat-tree>-->
